### classes and objects

In [2]:
class person():
    print('hai')
    a=10

    
obj = person()
print(obj.a)

hai
10

In [3]:
class person():
    print('hai')
    a=10

    
obj = person()
obj2 = person()
print(obj.a)
print(obj2.a)

hai
10
10

### methods(functions)

In [4]:
def msg():
    print('hello')
    
msg()

hello

In [1]:
class text():
    def msg():
        print('hello')
        
msg()

NameError: name 'msg' is not defined

In [2]:
class text():
    def msg():
        print('hello')

a=text()        
msg()

NameError: name 'msg' is not defined

In [5]:
class text():
    def msg():
        print('hello')

a=text()        
a.msg()

TypeError: text.msg() takes 0 positional arguments but 1 was given

In [6]:
# self
class text():
    def msg(self):
        print('hello')

a=text()        
a.msg()

hello

In [7]:
class text():
    def msg(default): # just need to pass one argument
        print('hello')

a=text()        
a.msg()

hello

In [8]:
class text():
    def msg(self):
        print('hello')

a=text()
b=text()
a.msg()
b.msg()

hello
hello

In [9]:
class text():
    def msg(self):
        print('hello')

a=text()
text.msg(a)

hello

In [10]:
class text():
    def msg(self):
        print('hello')

a=text()
b=text()
text.msg(a)
text.msg(b)

hello
hello

### self parameter

In [3]:
def addition(a,b):
    c=a+b
    print("the added value of", a ,"and", b, "is", c)
    

addition(10,20)

the added value of 10 and 20 is 30

In [5]:
class addition():
    def add(a,b):
        c=a+b
        print("the added value of", a ,"and", b, "is", c)
    
    
a=addition()
a.add(10,20)

TypeError: addition.add() takes 2 positional arguments but 3 were given

In [6]:
class addition():
    def add(self,a,b):
        c=a+b
        print("the added value of", a ,"and", b, "is", c)
    
    
a=addition()
a.add(10,20)

the added value of 10 and 20 is 30

In [7]:
class addition():
    d=20
    def add(self,a,b):
        c=a+b+self.d
        print("the added value of", a , b, "and", self.d, "is", c)
    
    
a=addition()
a.add(10,20)

the added value of 10 20 and 20 is 50

In [8]:
class addition():
    d=20
    def add(self,a,b):
        c=a+b+self.d
        print("the added value of", a , b, "and", self.d, "is", c)
    
    
a=addition()
b=addition()
a.add(10,20)
b.add(10,3)

the added value of 10 20 and 20 is 50
the added value of 10 3 and 20 is 33

In [10]:
class addition():
    d=20
    def add(self,a,b):
        c=a+b+d
        print("the added value of", a , b, "and", d, "is", c)
    
    
a=addition()
b=addition()
a.add(10,20)
b.add(10,3)

NameError: name 'd' is not defined

In [2]:
class Person:
    def get_detail(self):
        name = 'sakthi'
        age = 23
        gender = 'male'
        print('my name is', name)
        print('age is', age)
        print('gender is', gender)
        
c=Person()
c.get_detail()

my name is sakthi
age is 23
gender is male

In [3]:
class Person:
    def get_detail(self):
        name = 'sakthi'
        age = 23
        gender = 'male'
    def print_detail(self):
        print('my name is', name)
        print('age is', age)
        print('gender is', gender)
        
c=Person()
c.get_detail()
c.print_detail()

NameError: name 'name' is not defined

In [4]:
class Person:
    def get_detail(self):
        self.name = 'sakthi'
        self.age = 23
        self.gender = 'male'
    def print_detail(self):
        print('my name is', self.name)
        print('age is', self.age)
        print('gender is', self.gender)
        
c=Person()
c.get_detail()
c.print_detail()

my name is sakthi
age is 23
gender is male

In [8]:
class Person:
    def get_detail(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    def print_detail(self):
        print('my name is', self.name)
        print('age is', self.age)
        print('gender is', self.gender)
        
c=Person()
c.get_detail('Jeeva', 23, 'Male')
c.print_detail()
print('')
d=Person()
d.get_detail('Sachin', 45, 'Male')
d.print_detail()

my name is Jeeva
age is 23
gender is Male

my name is Sachin
age is 45
gender is Male

### without self parameter

In [11]:
class Person:
    name = ""
    age = 0
    gender = ""
    
person1 = Person()
person1.name = 'Sakthi'
person1.age = 23
person1.gender = 'male'

person2 = Person()
person2.name = 'jeeva'
person2.age = 28
person2.gender = 'male'

print(person1.name)
print(person1.age)
print(person1.gender)
print(person2.name) 
print(person2.age)
print(person2.gender)

Sakthi
23
male
jeeva
28
male

In [10]:
class Person:
    name = ""
    age = 0
    gender = ""
    
person1 = Person()
person1.name = 'Sakthi'
person1.age = 23
person1.gender = 'male'

person2 = Person()
person2.name = 'jeeva'
person2.age = 28
person2.gender = 'male'

print(person1.name, 'is', person1.age, 'years old - ', person1.gender)
print(person2.name, 'is', person2.age, 'years old - ', person2.gender)

Sakthi is 23 years old -  male
jeeva is 28 years old -  male

In [16]:
class Person:
    name = ""
    age = 0
    gender = ""
    def print_detail(self):
        print('my name is', c.name)
        print('age is', c.age)
        print('gender is', c.gender)

c=Person()
c.name = 'sakthi'
c.age = 10
c.gender = 'male'
c.print_detail()

my name is sakthi
age is 10
gender is male

In [17]:
class Room:
    length = 0.0
    breadth = 0.0
    def calculate_area(self):
        print("Area of Room", room1.length * room1.breadth)
        
room1 = Room()

room1.length = 42.5
room1.breadth = 30.8

room1.calculate_area()

Area of Room 1309.0

In [ ]:
class Room:
    
    def calculate_area(self):
        length = 0.0
        breadth = 0.0
        print("Area of Room", room1.length * room1.breadth)
        
room1 = Room()

room1.length = 42.5
room1.breadth = 30.8

room1.calculate_area()