In [1]:
# constructor

"""
the task of constructors is to initialize(assign values) to the data members of the class
when an object of class is created
"""

### Types of constructors
- Default
- Parameterized

### Deafult constructor

In [3]:
class test1:
    
    def __init__(self):
        print('hai')
        
obj = test1()

hai

In [5]:
class student:
    
    def __init__(self):
        name = 'selva'
        age = 20
        print('my name is', name)
        print('my age is', age)
        
s1 = student()

my name is selva
my age is 20

In [6]:
class student:
    
    def __init__(self):
        name = 'selva'
        age = 20
        print('my name is', name)
        print('my age is', age)
        
s1 = student()
s2 = student()

my name is selva
my age is 20
my name is selva
my age is 20

In [7]:
class Person:
    
    def __init__(self):
        print('1')
        
    def __init__(self):
        print('2')

p1 = Person()

2

In [8]:
class Person:
    
    def __init__(self):
        print('1')
        
    def __init__(self):
        print('2')

p1 = Person()
p2 = Person()

2
2

### Parameterized Constructor

In [2]:
class Student:
    def __init__(self, name, age):
        print('my name is', name)
        print('my age is', age)
        
        
s1 = Student('John', 23)

my name is John
my age is 23

In [3]:
class Student:
    def __init__(self, name):
        age = 20
        print('my name is', name)
        print('my age is', age)
        
        
s1 = Student('John')

my name is John
my age is 20

In [5]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def print1(self):
        print('my name is', self.name)
        print('my age is', self.age)


stu = Student('John', 23)
stu.print1()

my name is John
my age is 23

In [6]:
class Student:
    def __init__(self, name, age):
        self.n1 = name
        self.a1 = age
    
    def print1(self):
        print('my name is', self.n1)
        print('my age is', self.a1)


stu = Student('John', 23)
stu.print1()

my name is John
my age is 23

In [7]:
class Student:
    def __init__(self, name, age):
        self.n1 = name
        self.a1 = age
    
    def print1(self):
        print('my name is', self.n1)
        print('my age is', self.a1)


stu = Student('John', 23)
stu = Student('Swetha', 25)
stu.print1()

my name is Swetha
my age is 25

In [8]:
class Student:
    def __init__(self, name, age):
        self.n1 = name
        self.a1 = age
    
    def print1(self):
        print('my name is', self.n1)
        print('my age is', self.a1)


stu = Student('John', 23)
stu.print1()
stu = Student('Swetha', 25)
stu.print1()

my name is John
my age is 23
my name is Swetha
my age is 25

In [9]:
class Student:
    def __init__(self, name, age):
        self.n1 = name
        self.a1 = age
    
    def print1(self):
        print('my name is', self.n1)
        print('my age is', self.a1)


stu = Student('John', 23)
stu.print1()
stu1 = Student('Swetha', 25)
stu1.print1()

my name is John
my age is 23
my name is Swetha
my age is 25

In [10]:
class Student:
    def __init__(self, name, age):
        self.n1 = name
        self.a1 = age
    
    def print1(self):
        print('my name is', self.n1)
        print('my age is', self.a1)


stu = Student('John', 23)

stu1 = Student('Swetha', 25)

stu.print1()
stu1.print1()

my name is John
my age is 23
my name is Swetha
my age is 25

### types in parameterized constructors

- position
- keyword
- default
- variable length

In [12]:
# position

class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def print1(self):
        print('my name is', self.name)
        print('my age is', self.age)


stu = Student('John', 23)
stu.print1()

my name is John
my age is 23

In [14]:
# default

class Student:
    def __init__(self, name, age=30):
        self.name = name
        self.age = age
    
    def print1(self):
        print('my name is', self.name)
        print('my age is', self.age)


stu = Student('John')
stu.print1()

my name is John
my age is 30

In [15]:
# default

class Student:
    def __init__(self, name, age=30):
        self.name = name
        self.age = age
    
    def print1(self):
        print('my name is', self.name)
        print('my age is', self.age)


stu = Student('John', 23)
stu.print1()

my name is John
my age is 23

In [17]:
# default

class Student:
    def __init__(self, name = 'John', age=30):
        self.name = name
        self.age = age
    
    def print1(self):
        print('my name is', self.name)
        print('my age is', self.age)


stu = Student('Swetha', 23)
stu.print1()

my name is Swetha
my age is 23

In [18]:
# variable length

class Test:
    z=0
    def __init__(self, x, *y):
        z=x
        for i in y:
            z=z+i
        print('Sum:', z)
        

obj = Test(10, 20, 30, 40)

Sum: 100

In [20]:
Test.z

0

In [21]:
class Test:
    def __init__(self, name, **values):
        print("name", name)
        print("age", values['age'])
        print("city", values['city'])
        print("ph", values['ph'])
        
obj = Test('John', age = 43, city = 'chennai', ph = 1234567890)

name John
age 43
city chennai
ph 1234567890

In [22]:
class Triangle:
    def __init__(self, b, h):
        self.base = b
        self.height = h
        self.area = self.base * self.height * 0.5
        print('Area of triangle', self.area)
        
obj = Triangle(7, 10)

Area of triangle 35.0

In [23]:
class Triangle:
    def __init__(self, b, h):
        base = b
        height = h
        area = base * height * 0.5
        print('Area of triangle', area)
        
obj = Triangle(7, 10)

Area of triangle 35.0

In [24]:
class Triangle:
    def __init__(self, b, h):
        self.base = b
        self.height = h
        
    def area(self):
        self.area = self.base * self.height * 0.5
        print('Area of triangle', self.area)
        
obj = Triangle(7, 10)
obj.area()

Area of triangle 35.0

In [25]:
class Triangle:
    def __init__(self, b, h):
        base = b
        height = h
        
    def area(self):
        area = base * height * 0.5
        print('Area of triangle', area)
        
obj = Triangle(7, 10)
obj.area()

NameError: name 'base' is not defined