### polymorphism

### polymorphism in '+' operators

In [1]:
num1 = 10
num2 = 20
print("The added value:", num1+num2)

The added value: 30

In [2]:
str1 = 'Happy '
str2 = 'learning'
print("The added string:", str1+str2)

The added string: Happy learning

### polymorphism in '*' operators

In [3]:
num1 = 10
num2 = 20
print("The multiplied value:", num1*num2)

The multiplied value: 200

In [4]:
str1 = 'Happy learning'
num1 = 2
print("The multiplied string:", str1*num1)

The multiplied string: Happy learningHappy learning

### polymorphism in functions

In [5]:
print(len("Happy Learning"))

14

In [6]:
print(len(['Python', 'Gurukula', 'Happy', 'Learning']))

4

In [7]:
print(len({'Name': 'Gurukula', 'Course': 'Python advanced series'}))

2

### polymorphism in classes

In [8]:
class employee1:
    def info(self):
        name = 'sakthi'
        age = 20
        print("name:", name)
        print("age:", age)
        
class employee2:
    def info(self):
        name = 'shiva'
        age = 25
        print("name:", name)
        print("age:", age)
        

obj_emp = employee1()
obj_adm = employee2()
obj_emp.info()
obj_adm.info()

name: sakthi
age: 20
name: shiva
age: 25

### operator overloading

In [9]:
a=10
b=20
print(a+b)

30

In [10]:
a=10
b=29
int.__add__(a,b)

39

In [11]:
a="Happy "
b="learning"
str.__add__(a,b)

'Happy learning'

In [12]:
a = "Happy "
b = 20
str.__add__(a,b)

TypeError: can only concatenate str (not "int") to str

In [13]:
class student:
    def __init__(self, m1, m2):
        self.m1 = m1
        self.m2 = m2
s1=student(10, 20)
s2=student(30, 50)
s3=s1+s2

TypeError: unsupported operand type(s) for +: 'student' and 'student'

#### 'add' operator

In [14]:
class student:
    def __init__(self, mark1, mark2):
        self.m1 = mark1
        self.m2 = mark2
        
    def __add__(self, temp):
        first_stu = self.m1+self.m2
        second_stu = temp.m1+temp.m2
        total = student(first_stu, second_stu)
        return total
    
s1 = student(10, 20)
s2 = student(30, 50)
total = s1+s2

print(total.m1)
print(total.m2)

30
80

In [15]:
class student:
    def __init__(self, mark1, mark2):
        self.m1 = mark1
        self.m2 = mark2
    
    
    def __add__(self, temp):
        first_stu = self.m1+self.m2
        second_stu = temp.m1+temp.m2
        total = student(first_stu, second_stu)
        return total
    
    
    def __sub__(self, temp):
        first_stu = self.m1-self.m2
        second_stu = temp.m1-temp.m2
        total = student(first_stu, second_stu)
        return total
    
    def __mul__(self, temp):
        first_stu = self.m1*self.m2
        second_stu = temp.m1*temp.m2
        total = student(first_stu, second_stu)
        return total
    
    def __truediv__(self, temp):
        first_stu = (self.m1+self.m2)/2
        second_stu = (temp.m1+temp.m2)/2
        total = student(first_stu, second_stu)
        return total
    

s1 = student(10, 20)
s2 = student(30, 50)

add = s1+s2
sub = s1-s2
mul = s1*s2
div = s1/s2

print("Added value:", add.m1, add.m2)
print("Subtracted value:", sub.m1, sub.m2)
print("Multiplied value:", mul.m1, mul.m2)
print("Average:", div.m1, div.m2)

Added value: 30 80
Subtracted value: -10 -20
Multiplied value: 200 1500
Average: 15.0 40.0